/* RESETS */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {list-style: none}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.15;
  margin: 0;
}

button, input {overflow: visible;}
button, select {text-transform: none;}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {padding: 0.35em 0.75em 0.625em;}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0
}

/* GLOBAL */
:root {
  --blue: #246fe0;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
  background: #ECF0F6;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--blue);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 1rem;
}

hr {
  margin:1em 0;
  border:0;
  overflow: visible;
  }

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

strong {
  font-weight: 600;
}
small {
  font-size:1.5rem;
  font-weight:400;
}

.block {
  display: block;
  background: #ccc;
}

.f-left,.f-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.f-right {
  justify-content: flex-end;
  margin-left: auto;
}

input,
textarea {
  max-width: 100%;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.25em;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: fff;
  border: 1px solid #ccc;
  color: #363636;
}

input:focus {
  border: 1px solid var(--blue);
  outline: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }

::placeholder {
  color: #aaa;
  opacity: 1;
}

.icon {
  position: absolute;
}
.icon.left {
  left: 0;
}
.icon.right {
  right: 0;
}

.btn {
  height: 2.25em;
  background: var(--blue);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 0 1.5em;
}
.btn:hover {
  background: #2f2f2f;
  cursor: pointer;
}

.btn-apply {
  padding: 15px 25px;
  margin: 10px auto;
}

.container,
.single {
  width: 100%;
  margin: 0 auto;
}

/* GENERAL */

header {
  width: 100%;
  height: auto;
  background: var(--blue);
  color: #fff;
  padding: 1.5em 0;
}

header .container {
  display: flex;
  flex-flow: row wrap;
}

header .brand {
  line-height: 20px;
  text-align: center;
}

header h1 a:link,
header h1 a:visited {
  color: #fff;
  font-size: 2.1rem;
  font-weight: 600;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}

nav ul li, header .brand {
  padding:0 1.5em;
}

nav ul a:link,
nav ul a:visited,
footer ul a:link,
footer ul a:visited {
  color: #fff;
}

#login {
  fill: #fff;
  stroke: #fff;
}

#hero {
  min-height: 250px;
  width: 100%;
  background-image: url('../img/bg_hero.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h2 {
  font-size: 1.6rem;
}

.hero-inner {
  padding: 0 1.5em;
}

.hero-inner form {
  height: 40px;
  display: flex;
  margin-top: 1em;
}

.hero-inner input[type=text] {
  max-width: 520px;
  width: 100%;
  height: 100%;
  border: none;
}

.hero-inner button {
  width: 40px;
  height: 100%;
  background: var(--blue);
  border: none;
  cursor: pointer;
}
.hero-inner button:hover {
  background: #115dcf;
}
span.search-btn {
  background: url('../img/search.svg') no-repeat center;
  background-size: contain;
  display: inline-block;
  height: 15px;
  width: 15px;
}

#filters {
  width: 100%;
  min-height: 50px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(19, 25, 32, 0.06);
}

#filters .container {
  min-height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 1.5em;
}

#filters select {
  min-width: 200px;
  padding: 5px 8px;
  margin: 5px 10px;
  cursor: pointer;
}

#main {
  padding: 4em 1.5em;
  flex-grow: 1;
}
#main.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-content: center;
}

.block {
  display: block;
}

article {
  background: #fff;
  border-radius: 4px;
  position: relative;
}
article h1 {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 4px;
}

article .local,
article .date {
  color: #878EA0;
}

article .date {
  position: absolute;
  top: -20px;  right: 0;
  font-size: 12px;
  text-align: right;
}
article span {
  line-height: 1.6;
  display: block;
}

article.card {
  padding: 20px;
  display: grid;
  grid-template-columns: 95px 1fr;
  grid-gap: 20px;
  align-items: center;
  cursor: pointer;
}

article.card:hover {
  box-shadow: 0 5px 25px rgba(19, 25, 32, 0.1);
}

article.full img {
  display: block;
  margin: auto;
  padding: 20px 0;
}

/* SUBSCRIPTION */
#subscription {
  background: var(--blue);
  text-align: center;
  color: #fff;
  padding: 4em 0;
}
#subscription h2 {
  font-size: 1.3rem;
}
#subscription form {
  margin: 15px auto 0;
}
#subscription input[type="email"] {
  max-width: 400px;
  width: 100%;
  border: none;
  outline: none;
}
#subscription button {
  height: 2.25em;
  background: #2f2f2f;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0 1em;
}

/* PAGES */
.single {
  background: #fff;
  padding: 4em;
  border-radius: 4px;
}
.single.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
}
.single h1,
.single h2 {
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 5px;
  color: var(--blue);
}
.single h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.single h2 {
  font-size: 1.1rem;
}
.single p {
  padding-bottom: 15px;
}
.single ul li {
  list-style-type: circle;
  margin-left: 15px;
}

/* FOOTER */

footer {
  background: #2f2f2f;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 0 10px;
}

footer .social-links {
  padding: 20px 0;
}
footer p {
  font-size: 0.8rem;
}

footer svg {
  width: 30px;
  height: 30px;
}

footer svg:hover path {
  fill: var(--blue);
}

/* CONTACT */

.contact textarea,
.contact input[type] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.contact button[type="submit"] {
  width: 100%;
}

/* FORMS */
#anuncio {
  margin: 2em 0;
}

#anuncio .left {
  float: left;
  width: 70%;
}

#anuncio .right {
  float: right;
  width: 25%;
}

#anuncio textarea,
#anuncio input[type] {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

#anuncio label {line-height: 1.8}
textarea#descr {height: 300px;}
.checkboxes {margin-bottom: 10px}

#anuncio input[type="checkbox"],
#anuncio input[type="radio"] {
  display: none;
}

.checkbox label {
  position: relative;
  display: inline-block;
  
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
  cursor: pointer;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  
  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
  height: 16px;
  width: 16px;
  
  border: 1px solid #ccc;
  left: 0px;
  top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
  
  transform: rotate(-45deg);
  
  left: 4px;
  top: 7px;
}

/*Hide the checkmark by default*/
.checkbox input[type="radio"] + label::after,
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="radio"]:checked + label::after,
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

textarea:focus {
  border: 1px solid var(--blue);
}

/* RESPONSIVE */
@media all and (min-width: 576px) {
  .container {
    max-width: 550px;
  }
}

@media all and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media all and (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
  .container .single {
    max-width: 960px;
  }
}

@media all and (max-width: 1200px) {
  #main.grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 992px) {
  #main.grid {
    grid-template-columns: 700px;
  }
  header .container {
    justify-content: center;
  }
  nav {
    line-height: 60px;
  }
  .f-right {
    margin: 0
  }
}

@media all and (max-width: 768px) {
  #main.grid {
    grid-template-columns: 1fr;
  }
  header {
    padding-top: 2em;
  }
  #filters select {
    width: 100%;
    height: 50px;
    margin: 10px 0;
  }
}

@media all and (max-width: 576px) {
  footer ul li {
    display: block;
    padding: 0;
    margin: 8px 0;
  }
}
